@{
    ViewBag.Title = "Партнеры";
    ViewBag.Description = "Партнеры, компании с которыми работает Бюро переводов Respect , Ульяновск";
    ViewBag.KeyWords = "Бюро переводов Ульяновск, центр переводов Ульяновск, партнеры";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main" id="about">
    <h1>
        Партнеры</h1>
            <section class="content">
    <p>
        <!--noindex-->
        <a href="http://advantshop.com/" rel="nofollow" target="_blank">
            <img src="images/advantshop.png" alt="AdVantShop.NET" /></a> <a href="http://stv73.ru/"
                rel="nofollow" target="_blank">
                <img src="images/stv.png" alt="Симбирское телевидение" /></a> <a href="http://www.sat-simbir.ru/"
                    rel="nofollow" target="_blank">
                    <img src="images/sms.png" alt="СпецМонтажСервис" /></a>
        <!-- /noindex -->
    </p>
    </section>
</div>
