@{
    ViewBag.Title = "Что выбрать CV или Resume";
    ViewBag.Description = "CV, resume, Статьи, Бюро переводов Respect, Ульяновск";
    ViewBag.KeyWords = "CV, resume, бюро переводов Respect Ульяновск";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <h1>
        Что выбрать CV или Resume</h1>
    <section class="content">
        <p>
            Наверняка многим из вас приходилось отправлять резюме на английском языке в зарубежные
            компании, и тогда вставал вопрос о его должном оформлении.
        </p>
        <p>
            В зарубежной практике существует два понятия: curriculum vitae (CV), в переводе
            с английского «биографическая справка, краткие биографические данные» и resume,
            (от фр. résumé) краткое содержание конспект, тезисы. В Европе, Великобритании, Новой
            Зеландии, Индии, Австралии и Южной Африки можно чаще встретить CV, а вот resume
            больше используют в США, Канаде. Американцы и канадцы употребляют понятие CV если
            речь идет о научно-исследовательской работе или работе за рубежом, в остальных случаях
            применяют resume. В Германии же, наряду с CV используется Lebenslauf.
        </p>
        <p>
            Одно из основных отличий CV от resume это, прежде всего, объем. CV должно содержать
            больше по объему информации, чем resume, как правило 2-3 страницы и даже больше,
            в то время как в resume - 1- максимум 2 страницы. В CV указывается вся профессиональная
            деятельность соискателя, включая достижения, стипендии и награды.
        </p>
        <p>
            Все события трудовой деятельности в CV должны быть организованы в хронологическом
            порядке, так чтобы читающий мог без труда получить общее представление о вашем профессиональном
            пути. Что касается резюме, то здесь хронология не так важна, поскольку, вы будете
            адаптировать свое резюме под конкретные требования той или иной вакансии, писать
            опыт работы и навыки только в той сфере, к которой относится данная вакансия.
        </p>
        <p>
            CV чаще пишется претендентами на высокие (топовые) должности, требующие наибольшей
            развернутости информации. Кроме того, CV часто используется при соискании на должность
            в преподавательской, академической, научно-исследовательской сферах. Поэтому, не
            лишним будет указать ученые степени, гранты, научные труды, статьи и публикации
            соискателя.
        </p>
        <p>
            Важно отметить, что на сегодняшний момент существует стандартная CV форма для европейских
            стран, (European curriculum vitae format), которую вы сможете с легкостью найти
            во многих интернет источниках и взять за образец. Однако, помните, что в разных
            странах структура CV может отличаться. Как правило, данная форма резюме включает
            в себя несколько пунктов: Личная информация (Personal Information), Цель (Objective),
            Опыт работы (Work Experience), Образование (Education), Специальные навыки (Additional
            Skills) и Рекомендации (References). Кроме того, иногда, помимо самого резюме необходимо
            отправить сопроводительное письмо (Cover letter), где вы можете дать любые дополнительные
            пояснения к резюме. В нем же требуется указать, почему на работу должны взять именно
            Вас.</p>
        <p>
            Не зависимо от того, что вы выбрали, CV или resume, помните, что английский язык
            - язык деловых людей, ему присуща конкретность, ясность и сжатость информации. Поэтому,
            как бы вы не любили великий русский язык, со всеми его длиннющими громоздкими предложениями
            и оборотами речи, пишите просто и понятно, чтобы избежать недопонимания со стороны
            иностранцев.</p>
    </section>
</div>
