@{
    ViewBag.Title = "Консульская легализация документов";
    ViewBag.Description = "Консульская легализация документов, Статьи, Бюро переводов Respect, Ульяновск";
    ViewBag.KeyWords = "Консульская легализация документов, бюро переводов Respect Ульяновск";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <h1>
        Консульская легализация документов</h1>
    <section class="content">
        <p>
            При предоставлении документов в официальные органы другого государства, в том случае,
            если оно не является участником Гаагской конвенции 1961 года, потребуется процедура
            консульской легализации. При процедуре консульской легализации могут использоваться
            как оригиналы документов, так и нотариально заверенные копии. Это могут быть личные
            документы физических лиц, такие как, свидетельства о рождении, браке, смерти, дипломы
            и аттестаты, справки о несудимости, так и документы юридических лиц, например, свидетельства
            о регистрации, учредительные документы, уставы и другие.
        </p>
        <p>
            Оригинал документа (или его копия) переводятся на иностранный язык, и перевод заверяется
            нотариусом. Печать и подпись нотариуса удостоверяются в Министерстве юстиции РФ,
            подлинность печати и подписи должностного лица Министерства юстиции РФ заверяется
            в Министерстве иностранных дел РФ, подпись ответственного лица и печать которого,
            в свою очередь, свидетельствуется в консульстве той страны, куда будут направлены
            документы.
        </p>
        <p>
            Таким образом, при консульской легализации документ проходит проверку в трех инстанциях:
            Министерстве юстиции РФ, Министерстве иностранных дел РФ и консульстве страны назначения
            на территории РФ, поэтому оформление консульской легализации считается процедурой
            довольно затяжной.
        </p>
        <p>
            Существует перечень документов, которые не подлежат ни консульской легализации,
            ни апостилированию. Как правило, к подобным документам можно отнести документы коммерческого
            характера, связанные с внешнеэкономической деятельностью, а именно, договора, счета,
            сопроводительные документы, накладные, инвойсы, коносаменты и другие. Легализация
            таких документов осуществляется через Торгово-промышленную палату РФ. При этом,
            документ удостоверяется в ТПП РФ и, впоследствии, свидетельствуется в российском
            консульстве иностранного государства.
        </p>
        <p>
            Ниже представлен примерный список стран, требующих консульской легализации документов.
        </p>
        <table>
            <tr>
                <td>
                    Бразилия
                </td>
                <td>
                    Катар
                </td>
            </tr>
            <tr>
                <td>
                    Египет
                </td>
                <td>
                    Коста-Рика
                </td>
            </tr>
            <tr>
                <td>
                    Индия
                </td>
                <td>
                    ОАЭ
                </td>
            </tr>
            <tr>
                <td>
                    Иордания
                </td>
                <td>
                    Саудовская Аравия
                </td>
            </tr>
            <tr>
                <td>
                    Ирак
                </td>
                <td>
                    Сирия
                </td>
            </tr>
            <tr>
                <td>
                    Иран
                </td>
                <td>
                    Тайвань
                </td>
            </tr>
            <tr>
                <td>
                    Кувейт
                </td>
                <td>
                    Таиланд
                </td>
            </tr>
            <tr>
                <td>
                    Канада
                </td>
                <td>
                    Уругвай
                </td>
            </tr>
            <tr>
                <td>
                    Колумбия
                </td>
                <td>
                    Филиппины
                </td>
            </tr>
            <tr>
                <td>
                    Китай
                </td>
                <td>
                </td>
            </tr>
        </table>
    </section>
</div>
