@{
    ViewBag.Title = "Легализация документов. Апостиль.";
    ViewBag.Description = "Легализация документов. Апостиль., Статьи, Бюро переводов Respect, Ульяновск";
    ViewBag.KeyWords = "Легализация документов. Апостиль., Бюро переводов Respect Ульяновск";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <h1>
        Легализация документов. Апостиль.</h1>
            <section class="content">
    <p>
        Чтобы документ обладал юридической силой и мог быть предъявлен в государственные
        органы другой страны, необходима легализация данного документа. Процедура легализации
        документа осуществляется на территории той страны, где документ был выдан.
    </p>
    <p>
        Существует два основных вида легализации: апостилирование и консульская легализация.
    </p>
    <p>
        Апостилирование – это упрощенная форма легализации, при которой на свободное место
        документа (оригинала, заверенной копии или заверенного перевода) или на его оборотную
        сторону проставляется штамп Апостиль. Апостиль может быть проставлен на такие
        документы, как доверенности, согласия, заявления, выписки из паспорта, водительские
        удостоверения, уставы, свидетельства, дипломы, аттестаты, справки и другие. В Российской
        Федерации государственный язык русский и, соответственно, апостиль проставляется
        на русском языке.
    </p>
    <p>
        Данная процедура применяется только в том случае, если документы должны быть действительны
        в странах, присоединившихся к Гаагской конвенции от 5 октября 1961 года. Упрощенной
        данная процедура называется потому, что оформляется апостиль одним уполномоченным
        органом (Министерство образования РФ, ЗАГС РФ или Министерство Юстиции РФ). Кроме
        того, апостилированный документ обладает юридической силой на территории всех стран,
        присоединившихся к Гаагской конвенции, в то время как при консульской легализации
        документ будет действителен только на территории той страны, отметка консульства
        которой на нем стоит.
    </p>
    <p>
        Ниже представлен перечень государств-участников Гаагской Конвенции:
    </p>
    <table>
        <tr>
            <td>
                Австрия
            </td>
            <td>
                Ирландия
            </td>
            <td>
                Самоа
            </td>
        </tr>
        <tr>
            <td>
                Австралия
            </td>
            <td>
                Исландия
            </td>
            <td>
                Сан-Марино
            </td>
        </tr>
        <tr>
            <td>
                Албания
            </td>
            <td>
                Испания
            </td>
            <td>
                Свазиленд
            </td>
        </tr>
        <tr>
            <td>
                Антигуа и Барбуда
            </td>
            <td>
                Италия
            </td>
            <td>
                Сейшельские острова
            </td>
        </tr>
        <tr>
            <td>
                Андорра
            </td>
            <td>
                Кипр
            </td>
            <td>
                Сент-Винсент и Гренадины
            </td>
        </tr>
        <tr>
            <td>
                Аргентина
            </td>
            <td>
                Колумбия
            </td>
            <td>
                Сент-Китс и Невис
            </td>
        </tr>
        <tr>
            <td>
                Багамы
            </td>
            <td>
                Лесото
            </td>
            <td>
                Сент-Люсия
            </td>
        </tr>
        <tr>
            <td>
                Барбадос
            </td>
            <td>
                Либерия
            </td>
            <td>
                Сербия
            </td>
        </tr>
        <tr>
            <td>
                Белиз
            </td>
            <td>
                Лихтенштейн
            </td>
            <td>
                Словакия
            </td>
        </tr>
        <tr>
            <td>
                Бельгия
            </td>
            <td>
                Люксембург
            </td>
            <td>
                Словения
            </td>
        </tr>
        <tr>
            <td>
                Болгария
            </td>
            <td>
                Маврикий
            </td>
            <td>
                Соединенные Штаты Америки
            </td>
        </tr>
        <tr>
            <td>
                Босния и Герцеговина
            </td>
            <td>
                Малави
            </td>
            <td>
                Суринам
            </td>
        </tr>
        <tr>
            <td>
                Ботсвана
            </td>
            <td>
                Мальта
            </td>
            <td>
                Тонга
            </td>
        </tr>
        <tr>
            <td>
                Бруней – Даруссалам
            </td>
            <td>
                Маршалловы острова
            </td>
            <td>
                Тринидад и Тобаго
            </td>
        </tr>
        <tr>
            <td>
                Мексика
            </td>
            <td>
                Турция
            </td>
            <td>
                Монако
            </td>
        </tr>
        <tr>
            <td>
                Великобритания
            </td>
            <td>
                Намибия
            </td>
            <td>
                Финляндия
            </td>
        </tr>
        <tr>
            <td>
                Венгрия
            </td>
            <td>
                Нидерланды
            </td>
            <td>
                Франция
            </td>
        </tr>
        <tr>
            <td>
                Венесуэла
            </td>
            <td>
                Ниуэ
            </td>
            <td>
                Хорватия
            </td>
        </tr>
        <tr>
            <td>
                Германия
            </td>
            <td>
                Новая Зеландия
            </td>
            <td>
                Чешская Республика
            </td>
        </tr>
        <tr>
            <td>
                Гондурас
            </td>
            <td>
                Норвегия
            </td>
            <td>
                Швейцария
            </td>
        </tr>
        <tr>
            <td>
                Гренада
            </td>
            <td>
                Острова Кука
            </td>
            <td>
                Швеция
            </td>
        </tr>
        <tr>
            <td>
                Греция
            </td>
            <td>
                Панама
            </td>
            <td>
                Эквадор
            </td>
        </tr>
        <tr>
            <td>
                Доминика
            </td>
            <td>
                Польша
            </td>
            <td>
                Эль-Сальвадор
            </td>
        </tr>
        <tr>
            <td>
                Израиль
            </td>
            <td>
                Португалия
            </td>
            <td>
                Южная Африка
            </td>
        </tr>
        <tr>
            <td>
                Индия
            </td>
            <td>
                Румыния
            </td>
            <td>
                Япония
            </td>
        </tr>
    </table>
    </section>
</div>
