@{
    ViewBag.Title = "Нотариальное заверение перевода";
    ViewBag.Description = "Нотариальное заверение перевода, Статьи, Бюро переводов Respect, Ульяновск";
    ViewBag.KeyWords = "Нотариальное заверение перевода, Бюро переводов Respect Ульяновск";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <h1>
        Нотариальное заверение перевода</h1>
            <section class="content">
    <p>
        Бюро переводов Respect оказывает услуги по нотариальному заверению перевода различных
        документов. Обычно требуется нотариальное заверение перевода паспортов, свидетельств,
        согласий, доверенностей, сертификатов, дипломов, учредительных документов. Нотариальное
        заверение перевода представляет собой свидетельствование Нотариусом подлинности
        подписи переводчика. Переводчик должен лично присутствовать при заверении документов
        и поставить подпись на самих документах и в реестре (т.е. книге регистрации документов).
        Необходимость в нотариальном заверении возникает при официальном предоставлении
        документов в государственные органы РФ или за рубеж.
    </p>
    <p>
        Процедура оформления заверения перевода печатью Нотариуса заключается в следующем:
    </p>
    <p>
        Оригинальный документ или его заверенная копия сшивается вместе с переводом документа
        и нотариальным листом, на котором Нотариус свидетельствует подлинность подписи переводчика.
        На нотариальном листе также указывается ФИО Нотариуса, дата регистрации, номер,
        под которым данный документ вносится в реестр и количество страниц в документе.
        После текста перевода указывается ФИО переводчика и его подпись. При заверении перевода
        документа с русского языка на иностранный, в случае если перевод будет сшиваться
        с копией, нотариальная надпись, в которой Нотариус свидетельствует верность копии
        документа с оригиналом также переводится на иностранный язык.
    </p>
    <p>
        В некоторых случаях бывает достаточно заверить перевод печатью бюро переводов. Тогда,
        оригинал или копия документа сшивается со страницей перевода, где указывается подпись
        переводчика, а на ее обороте проставляется удостоверительная надпись бюро переводов,
        количество страниц в документе и печать. Удостоверительная надпись может быть оформлена
        как на русском, так и иностранном языке.
    </p>
    </section>
</div>
