@{
    ViewBag.Title = "Примеры переводов";
    ViewBag.Description = "Примеры переводов, Бюро переводов Respect, Ульяновск";
    ViewBag.KeyWords = "Бюро переводов Ульяновск, центр переводов Ульяновск, статьи, новости, материалы, письменный перевод";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <h1>Примеры переводов</h1>
    <section class="content">
        <p>
            1.
        </p>
        <p>
            2.
        </p>
        <p>
            3.
        </p>
    </section>
</div>
