@{
    ViewBag.Title = "Локализация web-сайтов.";
    ViewBag.Description = "Локализация web-сайтов. Статьи, Бюро переводов Respect, Ульяновск";
    ViewBag.KeyWords = "Локализация web-сайтов, Бюро переводов Respect Ульяновск";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <h1>
        Локализация web-сайтов.</h1>
    <section class="content">
        <p>
            На сегодняшний момент для большинства людей интернет является одним из основных
            источников получения информации. Интернет сегодня – это также эффективный способ
            развития полезных контактов, поэтому наилучший способ представить вашу компанию
            на рынке производителей, это создать web-сайт компании и продвигать его в сети Интернет.
            Ну а если уж вы взялись покорять мировые рынки, тогда вам просто не обойтись без
            локализации сайта, т.е. создания его иностранной версии. Эта услуга наиболее актуальна,
            она представляет собой не просто перевод содержания текста сайта на иностранный
            язык, но и адаптирование его под ту или иную зарубежную аудиторию.
        </p>
        <p>
            Команда наших переводчиков готова осуществить для Вас профессиональный перевод вашего
            web-сайта на разные иностранные языки, учитывая все культурные и лингвистические
            особенности. Немало важен в создании иностранной версии и технический аспект, включающий
            в себя локализацию графических элементов сайта, таких как, мультимедийные объекты,
            флеш-баннеры, кнопки, элементы меню. Наше бюро сотрудничает со специалистами в области
            программирования и тестирования, которые при необходимости могут привнести некоторые
            изменения в код сайта и найти новые решения при оформлении элементов.
        </p>
        <p>
            Таким образом, можно выделить следующие этапы локализации сайта: перевод видимого
            текста страниц сайта, перевод текста в графике, адаптация текста под иностранную
            аудиторию, работа с невидимой частью сайта (мета-теги), перевод скрытого в коде
            текста и программных модулей сайта, сборка и отладка локализованного сайта.
        </p>
        <p>
            Результатом сложной работы по локализации является прошедшая все вышеперечисленные
            этапы локализации иностранная версия сайта в измененной форме, но без качественных
            потерь смысла.
        </p>
    </section>
</div>
