@{
    ViewBag.Title = "Письменный перевод";
    ViewBag.Description = "Статьи, Бюро переводов Respect, Ульяновск";
    ViewBag.KeyWords = "Бюро переводов Ульяновск, центр переводов Ульяновск, статьи, новости, материалы, письменный перевод";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <h1>Письменный перевод</h1>
    <section class="content">
        <p>
            На сегодняшний момент услуга письменного перевода одна из наиболее востребованных
            в современном мире перевода. Все чаще к нам поступают заказы на письменный перевод
            личных документов, контрактов, договоров, технических спецификаций, экономических
            документаций. Профессиональный письменный перевод может выполняться как одним, так
            и несколькими специалистами. В зависимости от тематики документа мы привлекаем к
            работе соответствующего переводчика, имеющего дополнительную квалификацию в данной
            области.
        </p>
        <p>
            Принято считать, что устный перевод гораздо сложнее письменного, поскольку требует
            от переводчика не только высокого профессионализма, но и определенных личных качеств,
            таких как стрессоустойчивость, быстрота реакции, умение ладить с людьми, начитанность
            и другие. Кроме того в процессе работы над письменным переводом переводчик имеет
            возможность использовать различные словари, электронные информационные ресурсы и
            осмысленно, не торопясь создавать свой вариант перевода, в то время как устный переводчик
            должен выдать готовый перевод в ту же минуту. Однако, письменный перевод не менее
            сложная задача. Это процесс достаточно трудоемкий, требующий особого внимания и
            навыков. Переводчик должен на высоком уровне владеть языком родным и иностранным,
            учитывать все языковые нормы, правила пунктуации, орфографии и стилистики, быть
            сведущим в определенной теме и обладать специальной терминологией, знать требования,
            предъявляемые к оформлению тех или иных документов, уметь максимально точно приблизить
            текст перевода к тексту оригинала, избегая при этом смысловых потерь.
        </p>
        <p>
            Письменный перевод это своего рода искусство, где творчество тесно сопрягается с
            четкими правилами перевода, строго следуя которым переводчик способен достичь наивысшей
            степени адекватности текста, т.е. получить высококачественный перевод.
        </p>
    </section>
</div>
