@{
    ViewBag.Title = "О нас";
    ViewBag.Description = "Информация о Бюро переводов Respect, Ульяновск";
    ViewBag.KeyWords = "Бюро переводов Ульяновск, центр переводов Ульяновск, перевести документы, нотариальное заверение перевода, перевод и нотариальное заверение, перевод паспорта, перевод диплома, перевод справки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <h1>
        О нас</h1>
    <section class="content">
        <p>
            Мы рады приветствовать Вас на сайте бюро переводов <strong>Respect</strong>!</p>
        <p>
            Мы переводим с <strong>английского</strong>, <strong>немецкого</strong>, <strong>французского</strong>
            и ряда других языков. В числе наших сотрудников штатные и внештатные переводчики,
            каждый из которых имеет высшее образование и опыт работы в лингвистической сфере.
            Наши переводчики специализируются на выполнении письменного перевода <strong>паспортов</strong>,
            <strong>дипломов</strong>, <strong>справок</strong>, <strong>выписок из реестра</strong>,
            <strong>договоров</strong> и <strong>контрактов</strong>, <strong>руководств</strong>
            и <strong>спецификаций</strong>, <strong>доверенностей</strong> и <strong>свидетельств</strong>.
            Мы также готовы предоставить услуги по редактированию текстов и локализации веб-сайтов,
            что необходимо для выхода компании на международный рынок. Также переводим <strong>апостиль</strong>,
            проставляемый при легализации документов. У нас перевод документа может быть заверен
            не только <strong>печатью</strong> бюро переводов Respect, но и <strong>нотариально</strong>,
            в случае предоставления его в государственные органы РФ.
        </p>
        <p>
            Мы отлично осознаем степень своей ответственности за переводимые нами материалы
            и прекрасно понимаем важность своей работы, а потому, качество и сроки перевода
            стоят у нас на первом месте. Мы действительно дорожим каждым клиентом и готовы постоянно
            совершенствовать систему обслуживания. Наши цены доступны всем. Вся информация по
            переводимым документам клиентов остается полностью конфиденциальной. Ждем ваших
            заказов!
        </p>
    </section>
</div>
