@{
    ViewBag.Title = "Наши цены";
    ViewBag.Description = "Цены, стоимость перевода - Бюро переводов Respect, Ульяновск";
    ViewBag.KeyWords = "Бюро переводов Ульяновск, центр переводов Ульяновск, цены на перевод, английский, французский, немецкий, нотариальное заверение, заверение апостиля, заверение печати";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <h1>
        Наши цены</h1>
    <section class="content">
        <p>
            В таблице указаны цены за письменный перевод (без стоимости нотариального заверения):
        </p>
        <table class="prices">
            <tr>
                <td>
                    Язык
                </td>
                <td>
                    Перевод с языка от (руб. / 1 стр.<strong>*</strong>):
                </td>
                <td>
                    Перевод на язык от (руб. / 1 стр.<strong>*</strong>):
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    Языки стран Европы
                </td>
            </tr>
            <tr>
                <td>
                    Английский
                </td>
                <td>
                    300
                </td>
                <td>
                    350
                </td>
            </tr>
            <tr>
                <td>
                    Немецкий
                </td>
                <td>
                    300
                </td>
                <td>
                    350
                </td>
            </tr>
            <tr>
                <td>
                    Французский
                </td>
                <td>
                    400
                </td>
                <td>
                    450
                </td>
            </tr>
            <tr>
                <td>
                    Испанский
                </td>
                <td>
                    450
                </td>
                <td>
                    500
                </td>
            </tr>
            <tr>
                <td>
                    Итальянский
                </td>
                <td>
                    450
                </td>
                <td>
                    500
                </td>
            </tr>
            <tr>
                <td colspan="3" class="center">
                    Языки стран СНГ
                </td>
            </tr>
            <tr>
                <td>
                    Азербайджанский
                </td>
                <td>
                    400
                </td>
                <td>
                    450
                </td>
            </tr>
            <tr>
                <td>
                    Армянский
                </td>
                <td>
                    400
                </td>
                <td>
                    450
                </td>
            </tr>
            <tr>
                <td>
                    Грузинский
                </td>
                <td>
                    400
                </td>
                <td>
                    450
                </td>
            </tr>
            <tr>
                <td>
                    Казахский
                </td>
                <td>
                    400
                </td>
                <td>
                    450
                </td>
            </tr>
            <tr>
                <td>
                    Латышский
                </td>
                <td>
                    400
                </td>
                <td>
                    450
                </td>
            </tr>
            <tr>
                <td>
                    Таджикский
                </td>
                <td>
                    400
                </td>
                <td>
                    450
                </td>
            </tr>
            <tr>
                <td>
                    Туркменский
                </td>
                <td>
                    400
                </td>
                <td>
                    450
                </td>
            </tr>
            <tr>
                <td>
                    Узбекский
                </td>
                <td>
                    400
                </td>
                <td>
                    450
                </td>
            </tr>
            <tr>
                <td>
                    Украинский
                </td>
                <td>
                    400
                </td>
                <td>
                    450
                </td>
            </tr>
            <tr>
                <td colspan="3" class="center">
                    Языки стран Азии
                </td>
            </tr>
            <tr>
                <td>
                    Китайский
                </td>
                <td>
                    600
                </td>
                <td>
                    650
                </td>
            </tr>
            <tr>
                <td>
                    Турецкий
                </td>
                <td>
                    500
                </td>
                <td>
                    550
                </td>
            </tr>
        </table>
        <br />
        <p>
            <strong>*</strong> Стандартная переводческая страница равна тексту объемом в 1800
            символов (с пробелами).
        </p>
        <p>
            Стоимость нотариального заверения составляет 400 руб.</p>
        <p>
            Оплата может быть произведена как в наличной, так и безналичной форме.</p>
    </section>
</div>
