@{
    ViewBag.Title = "Услуги";
    ViewBag.Description = "Услуги Бюро переводов Respect, Ульяновск";
    ViewBag.KeyWords = "Бюро переводов Ульяновск, центр переводов Ульяновск, перевод документов, нотариальное заверение, письменный перевод, с английского, французского, немецкого, экономичесикий, юридический, технический, заверение апостиля, заверение печати, локализация сайта";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main" id="services">
    <h1>
        Услуги</h1>
    <section class="content">
        <p>
            <strong>Письменный перевод</strong> – наиболее востребованный вид перевода на сегодняшний
            день. Мы осуществляем услуги письменного перевода текстов различных сфер деятельности:
        </p>
        <ul>
            <li><strong>юридической</strong> (контрактов, свидетельств, учредительных документов,
                апостилей, доверенностей, документов для выезда за рубеж, товарно-сопроводительных
                документов);</li>
            <li><strong>экономической</strong> (бизнес-планов, бухгалтерской документации, финансовой
                отчетности, налоговых деклараций, справок из банка, договоров и соглашений);</li>
            <li><strong>технической</strong> (руководств по эксплуатации и ремонту, спецификаций);</li>
        </ul>
        <p>
            <strong>Нотариальное заверение перевода</strong> – заверение документов с целью
            предоставления их в официальные органы или последующей легализацией. Документ, заверенный
            нотариусом, обладает юридической силой на территории иностранного государства. При
            нотариальном заверении исходный документ (оригинал или заверенная копия) и текст
            перевода скрепляются, а нотариус свидетельствует верность подписи переводчика.
        </p>
        <p>
            <strong>Перевод апостиля</strong>. Апостиль – это специальный штамп, проставляющийся
            на официальных документах некоммерческого характера, и свидетельствующий об отмене
            требований легализации иностранных документов на территории стран-участниц Гаагской
            конвенции (Гаага, 5 октября, 1961 г.). Таким образом, апостиль делает документ юридически
            действительным на территории стран-участниц Гаагской конвенции.</p>
        <p>
            <strong>Локализация веб-сайтов</strong> – перевод содержания текста с учетом языковых
            и культурных особенностей зарубежных стран. При локализации допускается некоторое
            расхождение текста перевода с текстом оригинала с тем, чтобы текст был наиболее
            понятен для иностранца, при этом смысл кардинально не изменяется.</p>
    </section>
</div>
